{% extends "base.html" %}
{% load filters %}

{% block title %}Cart{% endblock %}
{% block heading %}Cart{% endblock %}

{% block content %}
    {% if cart_issues or cart_subscriptions %}
        <div class="cart-container">
            <!-- Cart Items -->
            <div class="items">
                <h2>Subscriptions ({{ cart_subscriptions | length }})</h2>

                {% for sub in cart_subscriptions %}
                <div class="item">
                    <div class="details">
                        <div class="name">
                            {{ sub }}
                        </div>
                    </div>

                    {% if sub.product.discounted_price %}<div class="discount">{{ sub.product.formatted_discounted_price }}</div>{% endif %}
                    <div class="price {% if sub.product.discounted_price %}crossed{% endif %}">{{ sub.product.formatted_price }}</div>

                    <form method="post" action="{% url 'change_subscription_start' %}" class="start-change-form">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="subscription">
                        <input type="hidden" name="id" value="{{ sub.product.id }}">
                        <input type="hidden" name="metadata" value="{{ sub.metadata_json }}">
                        <select class="start-change" name="new_start" onchange="this.form.submit()">
                                {% for n in sub.product.journal.latest_number|len_range:12 %}
                                    <option value="{{ n }}" {% if n == sub.metadata.start %}selected{% endif %}>{{ n|format_issue_number }}
                                {% endfor %}
                        </select>
                    </form>

                    <form method="post" action="{% url 'remove_from_cart' %}" class="remove-form">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="subscription">
                        <input type="hidden" name="id" value="{{ sub.product.id }}">
                        <input type="hidden" name="metadata" value="{{ sub.metadata_json }}">
                        <button type="submit" class="remove-btn">Remove</button>
                    </form>
                </div>
                {% endfor %}

                <h2>Journals ({{ cart_issues|length }})</h2>

                {% for issue in cart_issues %}
                <div class="item">
                    <div class="details">
                        <div class="name">
                            {{ issue }}
                        </div>
                    </div>

                    {% if issue.product.discounted_price %}<div class="discount">{{ issue.product.formatted_discounted_price }}</div>{% endif %}
                    <div class="product-price {% if issue.product.discounted_price %}crossed{% endif %}">{{ issue.product.formatted_price }}</div>

                    <form method="post" action="{% url 'remove_from_cart' %}" class="remove-form">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="issue">
                        <input type="hidden" name="id" value="{{ issue.product.id }}">
                        <input type="hidden" name="metadata" value="{{ issue.metadata_json }}">
                        <button type="submit" class="remove-btn">Remove</button>
                    </form>
                </div>
                {% endfor %}
            </div>

            <!-- Order Summary -->
            <div class="order-summary">
                <h3>Order Summary</h3>
                
                <div class="content">
                    <div class="row total">
                        <span>Total:</span>
                        <span>${{ total|floatformat:2 }}</span>
                    </div>

                    <!-- payment methods -->
                    <form method="post" action="{% url 'checkout' %}" class="payment-section">
                        {% csrf_token %}
                        
                        <input type="hidden" name="payment_method" value="bank_transfer">

                        <!-- personal details -->
                        <div class="personal-details-form">
                            <h4>Billing details</h4>
                            <div class="form-field" {% if user.is_authenticated %}style="display: none;"{% endif %}>
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" required value={{ user.email }}>
                            </div>
                            {% for field in billing_fields %}
                                <div class="form-field">
                                    <label for="name">{{ field.name }}</label>
                                    <input type="{{ field.type }}" name="{{ field.id }}" id="{{ field.id }}" autocomplete="{{ field.autocomplete }}" required value="{{ latest_payment|attr:field.id }}">
                                </div>
                            {% endfor %}
                        </div>
                        
                        <button type="submit" class="checkout-btn">
                            <span class="loading-spinner"></span>
                            <span class="btn-text">Complete Purchase</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="empty-cart">
            <p>Your cart is empty.</p>
        </div>
        <a href="{% url 'catalogue' %}" class="continue-shopping">Browse Products</a>
    {% endif %}

    {% comment %} hide right sidebar here {% endcomment %}
    {% block right_sidebar %}{% endblock %}
{% endblock %}
