<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load ads %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'gelv/css/gelv.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="main-header">
        <!-- Logo -->
        <div class="logo">
            <a href="{% url 'home' %}" class="brand-link">
                <h2>B&E</h2>
            </a>
        </div>

        <!-- Navigation -->
        <nav class="nav">
            <ul>
                <li>
                    <a href="{% url 'subscribe' %}" class="{% if request.resolver_match.url_name == 'subscribe' %}active{% endif %}">
                        Subscribe
                    </a>
                </li>
                <li>
                    <a href="{% url 'catalogue' %}" class="{% if request.resolver_match.url_name == 'catalogue' %}active{% endif %}">
                        Catalogue
                    </a>
                </li>
                <li>
                    <a href="{% url 'owned' %}" class="{% if request.resolver_match.url_name == 'owned' %}active{% endif %}">
                        Purchased
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Cart -->
        {% if request.session.cart %}
            <div class="cart">
            <a href="{% url 'cart' %}">Cart ({{ request.session.cart|length }})</a>
            </div>
        {% endif %}

        <div class="auth">
            {% if user.is_authenticated %}
                <form method="post" action={% url 'logout' %}>
                    {% csrf_token %}
                    <button type=submit>log out</button>
                </form>
            {% else %}
                <form method="post" action={% url 'login' %}>
                    {% csrf_token %}
                    <button type=submit>log in</button>
                </form>
            {% endif %}
        </div>

    </header>
    <main>
        {% for message in messages %}
            <div class={{ message.tags }}>{{ message }}</div>
        {% endfor %}

        <div class="has-right-sidebar">
            <div class="main-content">
                {% block content %}{% endblock %}
            </div>
            <div class="right-sidebar">
                {% random_ads 1 as ads %}
                {% for ad in ads %}
                    <div class="ad">
                        <img src="{{ ad.image.url }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <script> 
        document.documentElement.classList.add('scroll-restoring');

        const stayForms = document.querySelectorAll('form[action*="/cart/"], form[class="sort-dropdown"]');
        stayForms.forEach(form => {
            function saveScroll() {
                sessionStorage.setItem('scrollPosition', window.pageYOffset);
            }
            form.addEventListener('submit', saveScroll);
            form.addEventListener('change', saveScroll);
        });

        // restore scroll position as early as possible
        document.addEventListener('DOMContentLoaded', function() {
            const scrollPosition = sessionStorage.getItem('scrollPosition');
            if (scrollPosition) {
                window.scrollTo(0, parseInt(scrollPosition));
                sessionStorage.removeItem('scrollPosition');
            }
    
            document.documentElement.classList.remove('scroll-restoring');
        });
    </script>
</body>
</html>
