<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load ads %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'gelv/css/gelv.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="main-header">
        <!-- Logo -->
        <div class="logo {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            <a href="{% url 'home' %}">
                B&E
            </a>
        </div>

        <!-- Navigation -->
        <nav class="nav">
            <ul>
                <li>
                    <a href="{% url 'subscribe' %}" class="{% if request.resolver_match.url_name == 'subscribe' %}active{% endif %}">
                        Subscribe
                    </a>
                </li>
                <li>
                    <a href="{% url 'catalogue' %}" class="{% if request.resolver_match.url_name == 'catalogue' %}active{% endif %}">
                        Catalogue
                    </a>
                </li>
                {% comment %}
                <li>
                    <a href="{% url 'owned' %}" class="{% if request.resolver_match.url_name == 'owned' %}active{% endif %}">
                        Purchased
                    </a>
                </li>
                {% endcomment %}
            </ul>
        </nav>

        <div class="right-section">
            <!-- Cart -->
            {% if request.session.cart %}
                <div class="cart">
                    <a href="{% url 'cart' %}">Cart ({{ request.session.cart|length }})</a>
                </div>
            {% endif %}

            <div class="auth">
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <div class="trigger">
                            {{ user.email }}
                            <span class="dropdown-arrow">▼</span>
                        </div>
                        <div class="menu">
                            <a href="{% url 'owned' %}" class="item">
                                Purchased
                            </a>
                            <form method="post" action="{% url 'logout' %}" class="item-form">
                                {% csrf_token %}
                                <button type="submit" class="item">Log out</button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <button type="submit">log in</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        {% for message in messages %}
            <div class="messages">
                <div class={{ message.tags }}>{{ message }}</div>
            </div>
        {% endfor %}

        <div class="has-right-sidebar">
            <div class="main-content">
            	<h1>{% block heading %}{% endblock %}</h1>
                
                {% block content %}{% endblock %}
            </div>
            {% block right_sidebar %}
                <div class="right-sidebar">
                    {% random_ads 1 as ads %}
                    {% for ad in ads %}
                        <div class="ad">
                            <img src="{{ ad.image.url }}">
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}
        </div>
    </main>
    <script> 
        document.documentElement.classList.add('scroll-restoring');

        const stayForms = document.querySelectorAll('form[action*="/cart/"], form[class="sort-dropdown"]');
        stayForms.forEach(form => {
            function saveScroll() {
                sessionStorage.setItem('scrollPosition', window.pageYOffset);
            }
            form.addEventListener('submit', saveScroll);
            form.addEventListener('change', saveScroll);
        });

        // restore scroll position as early as possible
        document.addEventListener('DOMContentLoaded', function() {
            const scrollPosition = sessionStorage.getItem('scrollPosition');
            if (scrollPosition) {
                window.scrollTo(0, parseInt(scrollPosition));
                sessionStorage.removeItem('scrollPosition');
            }
    
            document.documentElement.classList.remove('scroll-restoring');
        });
    </script>
    <script src="{% static 'gelv/js/toggle-description.js' %}"></script>
</body>
</html>
